<div class="fly-footer">
  <p><a href="javascript:;" target="_blank">XXXXX</a> 2017 &copy; <a href="javascript:;" target="_blank">XXX.com 出品</a></p>
</div>

<script src="/static/layui/layui.js"></script>
<script>
  layui.cache.page = 'user';
  layui.cache.user = {
    username: '游客'
    ,uid: -1
    ,avatar: '/static/images/avatar/00.jpg'
    ,experience: 83
    ,sex: '男'
  };
  layui.config({
    version: "3.0.0"
    ,base: '/static/home/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');
</script>