<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img width="200px" style="margin-top:-8px;" src="/static/images/logo2.png" alt="layui">
    </a>

    <ul class="layui-nav fly-nav-user">

      <!-- 未登入的状态 -->
      {if condition="(empty($member_info['member_id']))"}
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="/home/index/login"></a>
      </li>
      <li class="layui-nav-item">
        <a href="/home/index/login">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="/home/index/register">注册</a>
      </li>
      {else /}
      <!-- 登入后的状态 -->
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs">{$member_info['real_name']}</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息"></i>
          <img src="{$member_info['avatar']?$member_info['avatar']:'/static/images/avatar/default.png'}">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/home/member/edit"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <!--<dd><a href="/home/member/message"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>-->
          <dd><a href="/home/member"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="/home/index/logout" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
      {/if}
    </ul>
  </div>
</div>